/*style.css*/

#content blockquote {
    background-color: #ccc;
    color: #39424e;
    width: auto;
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: 3px;
}

body {
    margin-bottom:0px;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*This corrects the broken date CSS selectors which caused a number of issues in the theme.  IDK why*/
div.post > div:nth-child(1){
max-height: 100px;
}

div.box > figure > figcaption > h4
figure > h4
{
color: #ffffff;
}

pill{padding-right:.6em;padding-left:.6em;border-radius:10rem}
.list-inline{padding-left:0;list-style:none}
.list-inline-item{display:inline-block}
.list-inline-item:not(:last-child)

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}
.col-sm {
width:33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row-pad {
  padding: 20px 0 20px 20px;
}
.row-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}