/*style.css*/

#content blockquote {
    background-color: #ccc;
    color: #39424e;
    width: auto;
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: 3px;
}

body {
    
}
div.box > figure > figcaption > h4
figure > h4
{
color: #ffffff;
}