/*style.css*/

#content blockquote {
    background-color: #ccc;
    color: #39424e;
    width: auto;
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: 3px;
}

body {
    margin-bottom:0px;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*This corrects the broken date CSS selectors which caused a number of issues in the theme.  IDK why*/
div.post > div:nth-child(1){
max-height: 100px;
}

div.box > figure > figcaption > h4
figure > h4
{
color: #ffffff;
}

pill{padding-right:.6em;padding-left:.6em;border-radius:10rem}
.list-inline{padding-left:0;list-style:none}
.list-inline-item{display:inline-block}
.list-inline-item:not(:last-child)

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.col-sm-l {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  float:left;
  width:30%;
}
.col-sm-r {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width:69%;
  padding: 20px 0 20px 20px;
  float:right;
}


[class*='col-'] {
  float: left;
  padding: 20px 0 20px 20px;
}

[class*='col-']:last-of-type {
  padding-right: 10px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.row-pad {
  padding: 20px 0 20px 20px;
}
.row-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

yt-big{
position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.antiCls { 
    visibility: hidden;
}


.image-grid > a > img
{  object-fit: cover;
  height:100%;
  width: auto;
  max-width: 100%;
  
}

.image-grid-2 > a > img
{  object-fit: cover;
  height:20%;
  width: 20%;
  max-width: 30%;
  max-height: 50%;
}

@media only screen and (min-width: 970px){
  body > div.container.animated.zoomIn.fast > div.readme-intro > img{
    width: 250px;
    float: left;
  }
  div.readme-intro > p {
    display: inline;
  }
}
  

