/*style.css*/

#content blockquote {
    background-color: #ccc;
    color: #39424e;
    width: auto;
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: 3px;
}

body {
    
}
div.box > figure > figcaption > h4
figure > h4
{
color: #ffffff;
}

pill{padding-right:.6em;padding-left:.6em;border-radius:10rem}
.list-inline{padding-left:0;list-style:none}
.list-inline-item{display:inline-block}
.list-inline-item:not(:last-child)