<h1><a  href = "collection/">recently-added</a></h1>
When I have a post or an archive, it'll appear here in the collection.  
<div class="posts-list">
   {{ with .Site.GetPage "/collection" }}
   {{ range first 3 (sort  .Data.Pages "Date" "desc" ) }}
   <div class="post">
      <div class="date"> {{ .PublishDate.Format "Jan. 2, 2006" }} 
            {{ partial "first-tag.html" .}}
            </div>
      <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
      {{ .Summary | emojify }} {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
      <p>Duration: {{ math.Floor (div $readTime 60) }} m and
         {{ mod $readTime 60 }} secs.
      </p>
   </div>
   {{ end }}
   {{ end }}
</div>