{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ partial "tags.html" .}}
{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
<p>Reading time: {{ math.Floor (div $readTime 60) }} minutes and
    {{ mod $readTime 60 }} seconds.</p>
{{ if and (isset .Params "image") .Params.image }}
    {{ $image := .Page.Resources.GetMatch .Params.image }}
    {{ with $image }}
        {{ $thumb := .Resize "1000x" }}
        {{ printf `<img src="%s" alt="%s" class="img-responsive gallery-image">` $thumb.RelPermalink .Title | safeHTML }}
    {{end}}
{{ end }}

{{ .Content | emojify }}
{{ template "_internal/disqus.html" . }}

{{ end }}