<div class="footer">
   <div class = 'row' style='text-align:center;'><a href = "/privacy">Terms and Privacy</a>&nbsp;-&nbsp;<a href = "/tags">Index</a></div>
   <div class = 'row' style='text-align:center;'>{{- .Site.Params.footerText | markdownify -}}</div>
   <div class = 'row' style='text-align:center;'>{{- .Site.Params.buildText | markdownify -}}</div>
   
   </br>
   <!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
   {{ if ($.Scratch.Get "photoswipeloaded") }}
   <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous" async></script>
   <script src="/js/load-photoswipe.js" async></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous" async></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous" async></script>
   {{ end }}
<!-- docsify (latest v4.x.x)-->
<script src="https://cdn.jsdelivr.net/npm/docsify@4"></script>

<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('sw.js', { scope: '/' })
          .then(function(registration) {
              //console.log('Service Worker Registered');
          });

      navigator.serviceWorker
          .ready
          .then(function(registration) {
              //console.log('Service Worker Ready');
          });
  }
</script>

</div>