{{ define "main" }}
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{- partial "head.html" . -}}
    {{ ` 
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    ` | safeHTML }}

    {{- partial "favicon.html" . -}}
    {{ with .OutputFormats.Get "RSS" }}
      {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
    {{ end }}
    {{- partial "opengraph.html" . -}}
    {{- partial "twitter_cards.html" . -}}
</head>
<h1><a href="me/">README</a></h1>
<div class = "row">
   <a href="me/" class = "col-sm-l"><!--<img src = "/me/tux_min.gif">-->
   <video autoplay width = "100%"><source src="/me/tux.webm"
            type="video/webm"></video>
   </a><p class = "col-sm-r">
   {{ with .Site.Params.summary }} 
   {{ . | markdownify }} <a href="me/">(more)</a>
   {{end}} 
</p></div>
<br/>
<h1><a  href = "collection/">recently-added</a></h1>
When I have a post or an archive, it'll appear here in the collection.  
<div class="posts-list">
   {{ with .Site.GetPage "/collection" }}
   {{ range first 3 (sort  .Data.Pages "Date" "desc" ) }}
   <div class="post">
      <div class="date"> {{ .PublishDate.Format "Jan. 2, 2006" }} </div>
      <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
      {{ .Summary | emojify }} {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
      <p>Duration: {{ math.Floor (div $readTime 60) }} m and
         {{ mod $readTime 60 }} secs.
      </p>
   </div>
   {{ end }}
   {{ end }}
</div>
<h1><a  href = "photos/">last-update</a></h1>
Photos of the places I've been, the things I like, and the foods I eat tend to make a debut here  
</br>
</br>
<div class="image-grid">
   
   {{ with .Site.GetPage "/photos" }}
   {{ range first 3 (sort .Data.Pages "Date" "desc")}}
   {{ if not .Params.draft }}
   <a href="{{ .Permalink }}" title="{{ .Title }}">
   {{ $image := .Page.Resources.GetMatch .Params.image }}
   {{ with $image }}
   {{ $thumb := .Resize "350x" }}
   <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
   {{end}}
   </a>
   {{ end }}
   {{ end }}
   {{ end }}
</div>
</html>
{{ end }}
