{{ define "main" }}
<h1>{{ .Title | markdownify }}</h1><p> {{ .PublishDate.Format "Jan. 2, 2006" }}</p>
{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
<p>Read time: {{ math.Floor (div $readTime 60) }} minutes and
    {{ mod $readTime 60 }} seconds.</p>
{{"<!-- layouts/blog/single.html --><!-- ... -->" | safeHTML }}
tags: {{ partial "tags.html" .}}
{{ with .Params.linkedin }}
    // <a href="{{ . }}">Linkedin</a>
{{ end }}
{{ with .Params.twitter }}
    // <a href="{{ . }}">Twitter</a>
{{ end }}
{{ .Content | emojify }}
{{ template "_internal/disqus.html" . }}
{{ end }}