{{ $end := .Get "enddate" }}
{{ $start := .Get "startdate" }}
{{ $dr := (print $start " " $end) }}
</script><script type = "text/javascript"src = "https://ssl.gstatic.com/trends_nrtr/2431_RC04/embed_loader.js" ></script> 
<script type = "text/javascript" >
    trends.embed.renderExploreWidget("TIMESERIES", {
        "comparisonItem": [{
            "keyword": "how to",
            "geo": "",
            "time": {{ $dr }}
        }, {
            "keyword": "porn",
            "geo": "",
            "time": {{ $dr }}
        }, {
            "keyword": "free",
            "geo": "",
            "time": {{ $dr }}
        }, {
            "keyword": "food",
            "geo": "",
            "time": {{ $dr }}
        }, {
            "keyword": "results",
            "geo": "",
            "time": {{ $dr }}
        }],
        "category": 0,
        "property": ""
    }, {
        "exploreQuery": "date=all&q=how%20to,porn,free,food,results",
        "guestPath": "https://trends.google.com:443/trends/embed/"
    }); 
</script>