</script><script type = "text/javascript"src = "https://ssl.gstatic.com/trends_nrtr/2431_RC04/embed_loader.js" ></script> 
<script type = "text/javascript" >
    trends.embed.renderExploreWidget("TIMESERIES", {
        "comparisonItem": [{
            "keyword": "bitcoin",
            "geo": "",
            "time": "2004-01-01 2021-03-24"
        }, {
            "keyword": "ethereum",
            "geo": "",
            "time": "2004-01-01 2021-03-24"
        }, {
            "keyword": "dogecoin",
            "geo": "",
            "time": "2004-01-01 2021-03-24"
        }, {
            "keyword": "nfts",
            "geo": "",
            "time": "2004-01-01 2021-03-24"
        }, {
            "keyword": "crypto",
            "geo": "",
            "time": "2004-01-01 2021-03-24"
        }],
        "category": 0,
        "property": ""
    }, {
        "exploreQuery": "date=all&q=bitcoin,ethereum,dogecoin,nfts,crypto",
        "guestPath": "https://trends.google.com:443/trends/embed/"
    }); 
</script>